# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/

# SwiftPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Distribution artifacts
*.zip
*.xcarchive/
*.dmg
*.DMG

# Acorn source files
*.acorn

# Test data
*.rplan
